# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.vscode
.env

# IDE/editor files
.vscode/
.idea/
*.swp

# Test and coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Logs
*.log
.vscode